<div class="container"> 
  <h3>Angular 2 forms</h3>
  <form #formVariable="ngForm" novalidate>

    <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" required name="firstName" 
        [ngModel]='model.firstName' (ngModelChange)='toUpperCase($event)'>
    </div>
    
    <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" required name="lastName" [(ngModel)]='model.lastName' >
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" [(ngModel)]='model.isFullTime' > Full-time employee
      </label>
    </div>

    <label>Payment type</label>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" [(ngModel)]='model.paymentType' value="w2" checked>W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="pay-type" [(ngModel)]='model.paymentType' value="1099">1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary language</label>
      <select class="form-control" [(ngModel)]='model.language' name="primaryLanguage" >
        <option *ngFor="let language of languages">{{language}}</option>
      </select>
    </div>

    <button class="btn btn-primary" >Ok</button>
  </form>

  Model: {{ model | json }} <br>
  Angular: {{ formVariable.value | json }}
</div>